<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2data.kbc.audit.dao.AuditLogMapper">
    <resultMap id="BaseResultMap" type="com.k2data.kbc.audit.model.AuditLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="class_method" jdbcType="VARCHAR" property="classMethod"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="request_URL" jdbcType="VARCHAR" property="requestURL"/>
        <result column="user_agent" jdbcType="VARCHAR" property="userAgent"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="type_log" jdbcType="VARCHAR" property="typeLog"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.k2data.kbc.audit.model.AuditLog">
        INSERT INTO kbc_audit_log (
         id , creator , create_date ,
         class_method , ip , request_URL ,
         request_method , title , user_agent ,
         params , type_log  )
        VALUES (
        #{id,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
        #{classMethod,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{requestURL,jdbcType=VARCHAR},
        #{requestMethod,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR},
        #{params,jdbcType=VARCHAR}, #{typeLog,jdbcType=VARCHAR}
        );
    </insert>

    <select id="list" resultMap="BaseResultMap" parameterType="map">
        select id , creator , create_date ,
        class_method , ip , request_URL ,
        request_method , title , user_agent ,
        params , type_log
        from kbc_audit_log
        <where>
            <if test="creator != null">
                and creator like CONCAT('%', #{creator}, '%')
            </if>
            <!--<if test="beginDate != null">
                <![CDATA[ and create_date >= #{beginDate} ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[ and create_date <= #{endDate} ]]>
            </if>-->
        </where>
    </select>
</mapper>