<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2data.kbc.usrmgr.dao.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.k2data.kbc.usrmgr.model.UserGroup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <insert id="insert" keyProperty="id">
        INSERT INTO user_group (
        name
        )
        VALUES (
        #{name}
        )
    </insert>

    <delete id="delete">
        DELETE
        FROM user_group
        WHERE id = #{arg0}
    </delete>

    <select id="getById" resultMap="BaseResultMap">
        SELECT *
        FROM user_group
        WHERE id = #{arg0}
    </select>
    <select id="list"
        parameterType="com.k2data.kbc.usrmgr.dao.condition.UserGroupCondition"
        resultMap="BaseResultMap">
        SELECT *
        FROM user_group
        WHERE 1 = 1
        <if test="fuzzyName != null and fuzzyName != ''">
            <![CDATA[ AND name LIKE CONCAT('%', #{fuzzyName},'%')]]>
        </if>
        <if test="ids != null and ids.size > 0">
            <![CDATA[ AND id IN ]]>
            <foreach close=")" collection="ids" index="index" item="item" open="("
                separator=",">
                <![CDATA[ #{item} ]]>
            </foreach>
        </if>
    </select>
</mapper>