<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2data.kbc.usrmgr.dao.UserResourceMapper">
    <resultMap id="BaseResultMap" type="com.k2data.kbc.usrmgr.model.UserResource">
        <id column="user_id" property="userId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="operations" property="operations"/>
        <result column="effect_time" property="effectTime"/>
        <result column="expire_time" property="expireTime"/>
        <result column="disabled" property="disabled"/>
    </resultMap>

    <insert id="insert" keyProperty="id">
      INSERT INTO user_resource (
        user_id,
        resource_id,
        operations,
        effect_time,
        expire_time,
        disabled
      )
      VALUES (
        #{userId},
        #{resourceId},
        #{operations},
        #{effectTime},
        #{expireTime},
        #{disabled}
      )
    </insert>

    <delete id="deleteByUserId">
        DELETE
        FROM user_resource
        WHERE user_id = #{arg0}
    </delete>

    <delete id="delete">
        DELETE
        FROM user_resource
        WHERE user_id = #{arg0} AND resource_id = #{arg1}
    </delete>

    <select id="list"
        parameterType="com.k2data.kbc.usrmgr.dao.condition.UserResourceCondition"
        resultMap="BaseResultMap">
        SELECT *
        FROM user_resource
        WHERE 1 = 1
        <if test="userId != null and userId != ''">
            <![CDATA[ AND user_id = #{userId}]]>
        </if>
        <if test="resourceIds != null and resourceIds.size > 0">
            <![CDATA[ AND resource_id IN ]]>
            <foreach close=")" collection="resourceIds" index="index" item="item" open="("
                separator=",">
                <![CDATA[ #{item} ]]>
            </foreach>
        </if>
    </select>

    <select id="getByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM user_resource
        WHERE user_id = #{arg0}
    </select>
</mapper>