<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2data.kbc.auth.dao.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.k2data.kbc.auth.model.RolePermission">
        <id column="c_role_id" property="roleId"/>
        <result column="c_resource_id" property="resourceId"/>
        <result column="c_operations" property="operations"/>
    </resultMap>

    <insert id="insert" keyProperty="id">
        INSERT INTO t_role_permission (
        c_role_id,
        c_resource_id,
        c_operations
        )
        VALUES (
        #{roleId},
        #{resourceId},
        #{operations}
        )
    </insert>

    <delete id="delete">
        DELETE
        FROM t_role_permission
        WHERE c_role_id = #{arg0}
        AND c_resource_id = #{arg1}
    </delete>

    <update id="update" parameterType="com.k2data.kbc.auth.model.RolePermission">
        UPDATE t_role_permission
        <set>
            <if test="operations != null">
                c_operations = #{operations,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE c_role_id = #{roleId}
        AND c_resource_id = #{resourceId}
    </update>

    <select id="getByRoleId" resultMap="BaseResultMap">
        SELECT *
        FROM t_role_permission
        WHERE c_role_id = #{arg0}
    </select>

    <select id="getResourceIdByRoleId" resultType="java.lang.Integer">
        SELECT c_resource_id
        FROM t_role_permission
        WHERE c_role_id = #{arg0}
    </select>
</mapper>